@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Chakra+Petch&family=Sofia+Sans+Condensed&family=Source+Code+Pro&display=swap');

nav h1 {
    font-family: 'Caveat Brush', cursive;
    cursor: pointer;
}
main {
    border: 1px dotted black;
}
main div {
    background-color: rgb(3, 24, 34);
    color: rgb(255, 0, 0);
}

